@font-face  
    {
        font-family: "Cracked-Code";
        src: url("Cracked-Code.ttf");
    }
html
    {
        background-image: url("main.png");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
body
    {
        margin: 0;
        display: flex;
        flex-direction: column;
        font-family: "Cracked-Code";
    }
main    
    {
        display: flex;
        flex-direction: column;
    }
#maintenance
    {
        display: flex;
        align-items: center;
        
    }